@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #87a5ff;
  --secundary: #F49223;
  
  --black: #1E1E1E;
  --white: #FFF;
  --error: #fa7171;

  --black-opacity-70: #4E4E4E;
  --black-opacity-50: #737373;
  --black-opacity-30: #C8C8C8;
  --black-opacity-10: #e8e8e8;

  --primary-opacity-70: #f7ae5a;
}